.App {
  text-align: left;
  font-family:"Lora", sans-serif;
  letter-spacing: 0.5px;
  line-height: 2em;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /*header*/
.header-link{
  text-decoration: none;
  text-transform: uppercase;
  color:black;
}
.header-link:hover{
  text-decoration: none;
  text-transform: uppercase;
  color:grey;
}

 /*home*/
.home-container{
  padding: 50px;
}
.home-photo{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 0%;
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.home-text{
  padding:50px 0 0 ;
}

  /*about*/
.about-body{
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.about-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about-item{
  margin: 30px;;
}
.about-contact a{
  text-decoration: none;
  text-transform: uppercase;
  color:black;
}
.about-contact a:hover{
  text-decoration: none;
  text-transform: uppercase;
  color:grey;
}
/*footer*/
.footer{
  padding: 20px;
  text-align: center;
}
/*projects*/
.projects-container{
  margin:100px;
}
.project-image{
  margin:5px;
  width: 600px;
  height: 500px;
  object-fit: cover;
}
.project-link{
  text-decoration: none;
  color:black;
}
.project-link :hover{
  text-decoration: none;
  color:grey;
}
.github-image{
  max-height: 40px;
}